<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
[ <a href="{U_MCP}">{L_MCP}</a> ]

<br />
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_IS_BOT or U_TEAM -->
<!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --><!-- IF not S_IS_BOT and U_TEAM --> | <!-- ENDIF --><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a><!-- ENDIF --><br />
<!-- ENDIF -->

<!-- INCLUDE breadcrumbs.html -->

	<table width="100%" cellspacing="0">
<!-- IF S_DISPLAY_ONLINE_LIST -->


	<tr>
		<td><!-- IF U_VIEWONLINE --><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4><!-- ELSE --><h4>{L_WHO_IS_ONLINE}</h4><!-- ENDIF --></td>
	</tr>


<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->

	<tr>
		<td><p>{L_BIRTHDAYS}: <!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p></td>
	</tr>

<!-- ENDIF -->


<tr>
	<td><p>{L_STATISTICS}: {TOTAL_POSTS} | {TOTAL_TOPICS} | {TOTAL_USERS} | {NEWEST_USER}</p></td>
</tr>
</table>

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

	<form method="post" action="{S_LOGIN_ACTION}">

	<table width="100%" cellspacing="1">
	<tr>
		<td><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4><p>{L_USERNAME}: <input class="post" type="text" name="username" size="10" />&nbsp; {L_PASSWORD}: <input class="post" type="password" name="password" size="10" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></p></td>
	</tr>
	<tr>
		<td align="center"></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->